html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    /* IE и Edge */
    scrollbar-width: none;
    /* Firefox */
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

* {
    font-family: "MabryPro", sans-serif;
}

body {
    height: 100%;
    margin: 0 auto;
    background-color: $white;
    font-weight: $font-regular;
    font-size: 1.39vw;
    line-height: 2.08vw;

    @media (max-width: $screen-md) {
        font-size: 4.27vw;
        line-height: 5.87vw;
    }
}

img,
svg {
    width: 100%;
    height: 100%;
    border-style: none;
}

input {
    border: none;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/* glob */

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.container {
    margin: 0 auto;
    // max-width: 90rem;
    width: 100%
}

.main__wrap {
    margin: 0 auto;
    max-width: 40.28vw;

    @media (max-width: $screen-md) {
        margin: 0 4.27vw;
        max-width: unset;
    }
}

.flex {
    display: flex;
}

.h1 {
    font-size: 4.44vw;
    font-weight: $font-medium;
    line-height: 100%;
    color: $white;

    @media (max-width: $screen-md) {
        font-size: 9.60vw;
        line-height: 10.67vw;
    }
}

.h2 {
    font-size: 2.78vw;
    line-height: 3.06vw;
    letter-spacing: -0.03vw;

    @media (max-width: $screen-md) {
        font-size: 7.47vw;
        line-height: 9.60vw;
        letter-spacing: -0.11vw;
    }
}

.h3 {
    font-size: 1.94vw;
    font-weight: $font-medium;
    line-height: 2.5vw;
    letter-spacing: -0.02vw;
    margin-bottom: 1.11vw;

    @media (max-width: $screen-md) {
        font-size: 5.33vw;
        line-height: 8vw;
        letter-spacing: -0.07vw;
        margin-bottom: 4.27vw;
    }
}

.h4 {
    font-size: 1.39vw;
    font-weight: $font-bold;
    line-height: 2.08vw;
    color: #1F6B99;

    @media (max-width: $screen-md) {
        font-size: 5.33vw;
        line-height: 8vw;
    }
}

.lead {
    font-size: 1.94vw;
    line-height: 2.5vw;

    @media (max-width: $screen-md) {
        font-size: 5.33vw;
        line-height: 8vw;
    }
}

.graph-text {
    font-size: 0.97vw;
    line-height: 1.39vw;

    @media (max-width: $screen-md) {
        font-size: 3.73vw;
        line-height: 5.33vw;
    }
}

.graph-caption {
    font-size: 1.11vw;
    font-weight: $font-medium;
    line-height: 1.67vw;
    letter-spacing: 0.06vw;
    text-transform: uppercase;
    color: $akcent;

    @media (max-width: $screen-md) {
        font-size: 4.27vw;
        line-height: 6.40vw;
        letter-spacing: 0.21vw;
    }
}

.caption {
    font-size: 1.39vw;
    line-height: 1.67vw;

    @media (max-width: $screen-md) {
        font-size: 5.33vw;
        line-height: 6.40vw;
    }
}

// new

.mb-80 {
    margin-bottom: 5.56vw;

    @media (max-width: $screen-md) {
        margin-bottom: 10.67vw;
    }
}

.mt-80 {
    margin-top: 5.56vw;

    @media (max-width: $screen-md) {
        margin-top: 10.67vw;
    }
}

.mb-50 {
    margin-bottom: 3.47vw;

    @media (max-width: $screen-md) {
        margin-bottom: 13.33vw;
    }
}

.mb-40 {
    margin-bottom: 2.78vw;

    @media (max-width: $screen-md) {
        margin-bottom: 10.67vw;
    }
}

.mb-30 {
    margin-bottom: 2.08vw;

    @media (max-width: $screen-md) {
        margin-bottom: 8vw;
    }
}

.mb-25 {
    margin-bottom: 1.74vw;

    @media (max-width: $screen-md) {
        margin-bottom: 6.67vw;
    }
}

.mb-20 {
    margin-bottom: 1.39vw;

    @media (max-width: $screen-md) {
        margin-bottom: 5.33vw;
    }
}

.mb-16 {
    margin-bottom: 1.11vw;

    @media (max-width: $screen-md) {
        margin-bottom: 4.27vw;
    }
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-black {
    color: $text;
}

.text-white {
    color: $white;
}

.text-headers {
    color: $headers;
}

.selection-blue {
    position: relative;
    display: inline-block;
    color: $white;
    z-index: 2;
}

.selection-blue::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0.07vw;
    left: -0.69vw;
    right: -0.69vw;
    height: 1.74vw;
    transform: skew(-20deg);
    background: $akcent;

    @media (max-width: $screen-md) {
        height: 5.87vw;
        left: -2.67vw;
        right: -2.67vw;
    }
}

.nav {
    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }

    @media (max-width: $screen-md) {
        flex-wrap: wrap;
    }
}