@font-face {
  font-family: "MabryPro";
  src: local("MabryPro-Bold"),
    url("../fonts/MabryPro-Bold.woff2") format("woff2"),
    url("../fonts/MabryPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "MabryPro";
    src: local("MabryPro-Medium"),
      url("../fonts/MabryPro-Medium.woff2") format("woff2"),
      url("../fonts/MabryPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MabryPro";
    src: local("MabryPro-Regular"),
      url("../fonts/MabryPro-Regular.woff2") format("woff2"),
      url("../fonts/MabryPro-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}