.card-list {
    padding: 0 4.5vw;
    margin-bottom: 6.94vw;
    flex-wrap: wrap;
    gap: 0.28vw;

    @media (max-width: $screen-md) {
        gap:0.27vw;
        padding: 0;
        margin-bottom: 16vw;
    }
}

.card-list .card {
    width: 12.99vw;
    height: 12.99vw;
    padding: 1.11vw 1.11vw 1.18vw 0.69vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    gap: 0.97vw;
    border-radius: 8px;
    background-color: #63B8EB;

    @media (max-width: $screen-md) {
        border-radius: unset;
        width: 49.8vw;
        height: 49.8vw;
        gap: 3.73vw;
        padding: 4.27vw 4.27vw 4.53vw 2.67vw;
    }


    img {
        width: 5.56vw;
        height: 5.56vw;

        @media (max-width: $screen-md) {
            width: 21.33vw;
            height: 21.33vw;
        }
    }
}

.docs-wrap {
    gap: 1.11vw;

    @media (max-width: $screen-md) {
        gap: 4.27vw;
    }
}

.text-selection__columns {
    flex-wrap: nowrap;
    gap: 1.79vw;
    justify-content: space-between;

    p {
        width: 50%;
    }

    @media (max-width: $screen-md) {
        font-size: 3.73vw;
        line-height: 5.33vw;
    }
}

.medium-padding {
    padding: 5.29vw 2.71vw 3.21vw 2.71vw;

    @media (max-width: $screen-md) {
        padding: 15vw 2vw 5vw 5vw;
    }
}

.example__top {
    padding: 5.83vw 8.33vw 2.43vw 2.08vw;
    border-bottom: 1px solid $akcent;

    @media (max-width: $screen-md) {
        padding: 17.07vw 4.7vw 5.33vw 4.7vw;
    }
}

.example__bottom {
    padding: 1.67vw 0.83vw 3.61vw 2.08vw;
    display: flex;
    align-items: center;
    column-gap: 1.11vw;
    row-gap: 5vw;

    @media (max-width: $screen-md) {
        padding: 5.07vw 6.40vw 3.20vw 6.40vw;
        justify-content: space-between;
    }

    .price-block {
        display: flex;
        gap: 0.56vw;

        @media (max-width: $screen-md) {
            flex-direction: column;
            gap: 4.27vw;
        }
    }
}

.total-amount {
    padding: 0.49vw 0 0.28vw 0.56vw;
    display: flex;
    flex-direction: column;
    gap: 0.35vw;
    border-radius: 8px;
    background-color: $background-blue;

    @media (max-width: $screen-md) {
        padding: 1.87vw 3.47vw 0 2.13vw;
        gap: 1.33vw;
    }

    &__number {
        font-size: 4.44vw;
        letter-spacing: -0.13vw;
        line-height: 100%;

        @media (max-width: $screen-md) {
            font-size: 7.47vw;
            letter-spacing: unset;
            line-height: 9.60vw;
        }
    }
}

.income-tax {
    width: 6.94vw;
    height: 6.94vw;
    padding: 0.49vw 0 2.22vw 0;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.35vw;
    border-radius: 8px;
    background-color: $background-blue;

    @media (max-width: $screen-md) {
        width: 26.67vw;
        height: 26.67vw;
        padding: 1.87vw 0 8.53vw 0;
        gap: 1.33vw;
    }
}

.price {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.28vw;

    @media (max-width: $screen-md) {
        gap: 1.07vw;
    }


    &__rectangle {
        width: 100%;
        height: 1.74vw;
        background-color: $akcent;

        @media (max-width: $screen-md) {
            height: 6.67vw;
        }
    }
}

.form__section {
    padding: 2.22vw 2.08vw 3.68vw 2.08vw;
    border-bottom: 1px solid $akcent;

    @media (max-width: $screen-md) {
        padding: 8.53vw 4.27vw 8.53vw 4.27vw;
    }

    &:first-child {
        padding-top: 5.83vw;

        @media (max-width: $screen-md) {
            padding-top: 17.07vw;
        }
    }

    &:last-child {
        border-bottom: none;
    }

    &-descr {
        max-width: 48.82vw;
        width: 100%;

        @media (max-width: $screen-md) {
            max-width: unset;
        }
    }

    &-descr {
        margin-top: 0.56vw;

        @media (max-width: $screen-md) {
            margin-top: 2.13vw;
        }
    }

    &-input {
        margin-top: 1.67vw;
        margin-bottom: 0.56vw;
        padding: 2.22vw 1.11vw 0.28vw 0.56vw;
        width: 18vw;
        border-radius: 8px;
        background-color: $background-blue;
        color: $akcent;
        font-size: 4.44vw;
        letter-spacing: -0.13vw;


        @media (max-width: $screen-md) {
            margin-top: 6.40vw;
            margin-bottom: 2.13vw;
            padding: 8.53vw 4.27vw 1.07vw 2.13vw;
            width: 70.67vw;
            font-size: 17.07vw;
            letter-spacing: -0.51vw;
        }
    }
}

.form__input_placeholder {
    color: rgba(91,173,222, 0.20000000298023224);
}


.form__input-wrap {
    display: flex;
    gap: 1.11vw;

    @media (max-width: $screen-md) {
        flex-wrap: wrap;
        gap: 4.27vw;
    }
}

.form__card-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 0.14vw;

    @media (max-width: $screen-md) {
        gap: 4.27vw;
    }
}

.form__card-wrap .card {
    width: 12.50vw;
    height: 12.50vw;
    padding: 0.83vw 1.04vw 3.47vw 0.83vw;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    gap: 2.08vw;
    border-radius: 8px;
    background-color: $akcent;
    color: $white;

    @media (max-width: $screen-md) {
        width: 43.5vw;
        height: 43.5vw;
        padding: 3.2vw 0 2.67vw 3.20vw;
        gap: 8vw;
    }
}

.form__card-wrap .card img {
    width: 4.44vw;
    height: 4.44vw;

    @media (max-width: $screen-md) {
        width: 17.07vw;
        height: 17.07vw;
    }
}

.price-block__wrap {
    position: relative;
}

.price-all {
    position: absolute;
    bottom: -2.36vw;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.28vw;

    @media (max-width: 768px) {
        bottom: 0;
        left: unset;
        right: -17px;
        height: 100%;
        width: 2.67vw;
    }
}

.price-all__solid {
    width: 100%;
    height: 0.69vw;
    border-bottom: 2px solid $akcent;
    border-left: 2px solid $akcent;
    border-right: 2px solid $akcent;

    @media (max-width: 768px) {
        height: 100%;
        border-left: none;
        border-top: 2px solid $akcent;
    }
}

.price-all__number {
    @media (max-width: 768px) {
        display: none;
    }
}

@media (max-width: 768px) {
    .attention-block.m-0 {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }
}

.tool {
    position: relative;
    display: inline-flex;
    align-items: center;
    z-index: 1;
}

.tool::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.42vw;
    right: -0.42vw;
    border-radius: 0.56vw;
    background-color: $fill-blue;
    z-index: -1;

    @media (max-width: 768px) {
        border-radius: 2.13vw;
    }
}

.tool svg {
    width: 1.11vw;
    height: 1.11vw;

    @media (max-width: 768px) {
        width: 4.27vw;
        height: 4.27vw;
    }
}