/* ===== Переменные начертаний шрифтов START ===== */
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
/* ===== Переменные начертаний шрифтов END ===== */

/* ===== Переменные цветов START ===== */
$white: #fff;
$akcent: #5BADDE;
$headers: #1F6B99;
$background-blue: #FAFDFF;
$fill-blue: #F2FAFF;
$text: #052233;
$gray: #D9D9D9;

/* ===== Переменные цветов END ===== */

/* ===== Переменные media START ===== */
$screen-md: 768px;
$screen-xl: 1024px;
$screen-xxl: 1440px;
/* ===== Переменные media END ===== */
