<template>
    <div class="doc__wrap">
        <div v-if="type == 'doc'" class="doc__img">
            <svg width="180" height="255" viewBox="0 0 180 255" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="179" height="254" rx="7.5" fill="#FAFDFF" />
                <rect x="16" y="214" width="32" height="8" rx="2" fill="#5BADDE" />
                <rect x="97" y="214" width="32" height="8" rx="2" fill="#5BADDE" />
                <path
                    d="M16.336 31.54V28.6H17.316C17.722 28.054 18.016 27.536 18.198 27.046C18.394 26.542 18.52 26.024 18.562 25.492C18.618 24.96 18.646 24.246 18.646 23.35V20.2H24.596V28.6H25.786V31.54H24.386V30H17.736V31.54H16.336ZM19.066 28.6H23.056V21.6H20.116V23.35C20.116 24.596 20.046 25.604 19.906 26.388C19.78 27.172 19.5 27.914 19.066 28.6ZM33.1058 20.06C35.9058 20.004 38.2718 22.356 38.2158 25.1C38.2718 27.858 35.9058 30.196 33.1058 30.14C30.3058 30.196 27.9398 27.858 27.9958 25.1C27.9398 22.356 30.3058 20.004 33.1058 20.06ZM33.1058 28.67C35.0378 28.67 36.6058 27.214 36.6058 25.1C36.6058 22.986 35.0798 21.53 33.1058 21.53C31.1318 21.53 29.6058 23.014 29.6058 25.114C29.6058 27.242 31.1738 28.67 33.1058 28.67ZM48.4982 21.67H42.7582V30H41.2182V20.2H48.4982V21.67ZM55.6207 20.06C58.4207 20.004 60.7867 22.356 60.7307 25.1C60.7867 27.858 58.4207 30.196 55.6207 30.14C52.8207 30.196 50.4547 27.858 50.5107 25.1C50.4547 22.356 52.8207 20.004 55.6207 20.06ZM55.6207 28.67C57.5527 28.67 59.1207 27.214 59.1207 25.1C59.1207 22.986 57.5947 21.53 55.6207 21.53C53.6467 21.53 52.1207 23.014 52.1207 25.114C52.1207 27.242 53.6887 28.67 55.6207 28.67ZM63.733 30V20.2H68.353C70.159 20.2 71.503 21.334 71.503 22.79C71.503 23.756 70.957 24.526 69.963 24.96C71.125 25.24 71.853 26.108 71.853 27.34C71.853 28.866 70.439 30 68.633 30H63.733ZM65.273 24.26H68.283C69.389 24.26 69.963 23.784 69.963 22.93C69.963 22.132 69.249 21.67 68.283 21.67H65.273V24.26ZM65.273 28.53H68.563C69.557 28.53 70.243 27.97 70.243 27.13C70.243 26.332 69.571 25.66 68.563 25.66H65.273V28.53ZM79.4753 20.06C82.2753 20.004 84.6413 22.356 84.5853 25.1C84.6413 27.858 82.2753 30.196 79.4753 30.14C76.6753 30.196 74.3093 27.858 74.3653 25.1C74.3093 22.356 76.6753 20.004 79.4753 20.06ZM79.4753 28.67C81.4073 28.67 82.9753 27.214 82.9753 25.1C82.9753 22.986 81.4493 21.53 79.4753 21.53C77.5013 21.53 75.9753 23.014 75.9753 25.114C75.9753 27.242 77.5433 28.67 79.4753 28.67ZM89.1277 26.08V30H87.5877V20.2H92.1377C94.1817 20.2 95.2877 21.558 95.2877 23.14C95.2877 24.666 94.1677 26.08 92.1377 26.08H89.1277ZM89.1277 24.61H91.9977C92.9917 24.61 93.6777 24.036 93.6777 23.14C93.6777 22.244 92.9917 21.67 91.9977 21.67H89.1277V24.61Z"
                    fill="#5BADDE" />
                <rect x="16" y="44" width="102" height="8" rx="2" fill="#5BADDE" />
                <rect x="52" y="125" width="102" height="8" rx="2" fill="#5BADDE" />
                <rect x="122" y="44" width="32" height="8" rx="2" fill="#5BADDE" />
                <rect x="16" y="125" width="32" height="8" rx="2" fill="#5BADDE" />
                <rect x="16" y="60" width="70" height="8" rx="2" fill="#5BADDE" />
                <rect x="90" y="60" width="46" height="8" rx="2" fill="#5BADDE" />
                <rect x="16" y="76" width="46" height="8" rx="2" fill="#5BADDE" />
                <rect x="16" y="109" width="46" height="8" rx="2" fill="#5BADDE" />
                <rect x="82" y="93" width="72" height="8" rx="2" fill="#5BADDE" />
                <rect x="66" y="76" width="60" height="8" rx="2" fill="#5BADDE" />
                <rect x="66" y="109" width="60" height="8" rx="2" fill="#5BADDE" />
                <rect x="16" y="93" width="62" height="8" rx="2" fill="#5BADDE" />
                <path
                    d="M17.8944 230.622C17.8944 234.475 17.6633 238.402 18.3643 242.207C18.8015 244.581 19.4928 239.907 19.6657 239.117C19.9185 237.961 19.6872 237.109 20.5694 237.779C22.3685 239.147 22.7207 239.609 24.7264 238.105C25.3684 237.623 26.2953 236.661 27.1302 236.532C27.5011 236.475 27.8225 237.006 28.1604 237.129C29.6429 237.668 31.1789 237.564 32.697 237.797C34.1034 238.014 34.8774 238.589 36.4383 238.358C40.5633 237.746 44.6959 237.211 48.8009 236.478"
                    stroke="#5BADDE" stroke-width="3" stroke-linecap="round" />
                <path
                    d="M103.781 243.961C103.856 241.349 104.128 238.787 104.107 236.153C104.095 234.683 104.097 231.593 102.48 230.694C100.462 229.573 97.3053 233.269 97.6725 235.104C98.0035 236.759 100.682 238.001 102.082 238.43C103.969 239.008 105.911 238.202 107.758 237.707C109.071 237.355 110.376 236.978 111.698 236.659C111.996 236.587 112.908 236.618 113.144 236.406C113.45 236.13 112.584 235.213 112.403 235.213C111.887 235.213 112.968 237.571 113.035 237.743C113.516 238.978 112.764 239.717 112.095 240.689C110.118 243.565 110.288 236.233 110.288 235.339C110.288 234.818 109.934 232.554 110.469 232.249C112.044 231.348 113.56 232.826 114.355 234.092C115.402 235.76 115.662 239.285 117.825 239.858C119.382 240.27 121.247 240.09 122.831 240.057C128.916 239.93 134.178 238.026 139.893 236.153"
                    stroke="#5BADDE" stroke-width="3" stroke-linecap="round" />
                <rect x="0.5" y="0.5" width="179" height="254" rx="7.5" stroke="#5BADDE" />
            </svg>
        </div>
        <div v-else-if="type == 'doc-dms'" class="doc__img">
            <svg width="180" height="255" viewBox="0 0 180 255" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="179" height="254" rx="7.5" fill="#FAFDFF" />
                <rect x="16" y="214" width="32" height="8" rx="2" fill="#5BADDE" />
                <rect x="97" y="214" width="32" height="8" rx="2" fill="#5BADDE" />
                <path
                    d="M16.336 31.54V28.6H17.316C17.722 28.054 18.016 27.536 18.198 27.046C18.394 26.542 18.52 26.024 18.562 25.492C18.618 24.96 18.646 24.246 18.646 23.35V20.2H24.596V28.6H25.786V31.54H24.386V30H17.736V31.54H16.336ZM19.066 28.6H23.056V21.6H20.116V23.35C20.116 24.596 20.046 25.604 19.906 26.388C19.78 27.172 19.5 27.914 19.066 28.6ZM33.1058 20.06C35.9058 20.004 38.2718 22.356 38.2158 25.1C38.2718 27.858 35.9058 30.196 33.1058 30.14C30.3058 30.196 27.9398 27.858 27.9958 25.1C27.9398 22.356 30.3058 20.004 33.1058 20.06ZM33.1058 28.67C35.0378 28.67 36.6058 27.214 36.6058 25.1C36.6058 22.986 35.0798 21.53 33.1058 21.53C31.1318 21.53 29.6058 23.014 29.6058 25.114C29.6058 27.242 31.1738 28.67 33.1058 28.67ZM48.4982 21.67H42.7582V30H41.2182V20.2H48.4982V21.67ZM55.6207 20.06C58.4207 20.004 60.7867 22.356 60.7307 25.1C60.7867 27.858 58.4207 30.196 55.6207 30.14C52.8207 30.196 50.4547 27.858 50.5107 25.1C50.4547 22.356 52.8207 20.004 55.6207 20.06ZM55.6207 28.67C57.5527 28.67 59.1207 27.214 59.1207 25.1C59.1207 22.986 57.5947 21.53 55.6207 21.53C53.6467 21.53 52.1207 23.014 52.1207 25.114C52.1207 27.242 53.6887 28.67 55.6207 28.67ZM63.733 30V20.2H68.353C70.159 20.2 71.503 21.334 71.503 22.79C71.503 23.756 70.957 24.526 69.963 24.96C71.125 25.24 71.853 26.108 71.853 27.34C71.853 28.866 70.439 30 68.633 30H63.733ZM65.273 24.26H68.283C69.389 24.26 69.963 23.784 69.963 22.93C69.963 22.132 69.249 21.67 68.283 21.67H65.273V24.26ZM65.273 28.53H68.563C69.557 28.53 70.243 27.97 70.243 27.13C70.243 26.332 69.571 25.66 68.563 25.66H65.273V28.53ZM79.4753 20.06C82.2753 20.004 84.6413 22.356 84.5853 25.1C84.6413 27.858 82.2753 30.196 79.4753 30.14C76.6753 30.196 74.3093 27.858 74.3653 25.1C74.3093 22.356 76.6753 20.004 79.4753 20.06ZM79.4753 28.67C81.4073 28.67 82.9753 27.214 82.9753 25.1C82.9753 22.986 81.4493 21.53 79.4753 21.53C77.5013 21.53 75.9753 23.014 75.9753 25.114C75.9753 27.242 77.5433 28.67 79.4753 28.67ZM89.1277 26.08V30H87.5877V20.2H92.1377C94.1817 20.2 95.2877 21.558 95.2877 23.14C95.2877 24.666 94.1677 26.08 92.1377 26.08H89.1277ZM89.1277 24.61H91.9977C92.9917 24.61 93.6777 24.036 93.6777 23.14C93.6777 22.244 92.9917 21.67 91.9977 21.67H89.1277V24.61ZM102.403 31.54V28.6H103.383C103.789 28.054 104.083 27.536 104.265 27.046C104.461 26.542 104.587 26.024 104.629 25.492C104.685 24.96 104.713 24.246 104.713 23.35V20.2H110.663V28.6H111.853V31.54H110.453V30H103.803V31.54H102.403ZM105.133 28.6H109.123V21.6H106.183V23.35C106.183 24.596 106.113 25.604 105.973 26.388C105.847 27.172 105.567 27.914 105.133 28.6ZM125.792 30H124.252V21.054L121.382 30H119.002L116.132 21.054V30H114.592V20.2H117.462L120.192 28.81L122.922 20.2H125.792V30ZM130.403 25.1C130.403 27.382 131.775 28.74 133.763 28.74C134.785 28.74 135.597 28.446 136.199 27.858C136.801 27.27 137.179 26.542 137.333 25.66L138.733 26.22C138.229 28.488 136.451 30.14 133.763 30.14C130.809 30.182 128.765 27.942 128.793 25.1C128.737 22.286 130.977 20.004 133.763 20.06C136.255 20.06 137.725 21.586 138.173 23.35L136.773 23.98C136.479 22.51 135.429 21.46 133.763 21.46C131.859 21.46 130.403 22.902 130.403 25.1Z"
                    fill="#5BADDE" />
                <rect x="16" y="44" width="102" height="8" rx="2" fill="#5BADDE" />
                <rect x="52" y="125" width="102" height="8" rx="2" fill="#5BADDE" />
                <rect x="122" y="44" width="32" height="8" rx="2" fill="#5BADDE" />
                <rect x="16" y="125" width="32" height="8" rx="2" fill="#5BADDE" />
                <rect x="16" y="60" width="70" height="8" rx="2" fill="#5BADDE" />
                <rect x="90" y="60" width="46" height="8" rx="2" fill="#5BADDE" />
                <rect x="16" y="76" width="46" height="8" rx="2" fill="#5BADDE" />
                <rect x="16" y="109" width="46" height="8" rx="2" fill="#5BADDE" />
                <rect x="82" y="93" width="72" height="8" rx="2" fill="#5BADDE" />
                <rect x="66" y="76" width="60" height="8" rx="2" fill="#5BADDE" />
                <rect x="66" y="109" width="60" height="8" rx="2" fill="#5BADDE" />
                <rect x="16" y="93" width="62" height="8" rx="2" fill="#5BADDE" />
                <path
                    d="M17.8939 230.622C17.8939 234.475 17.6628 238.401 18.3638 242.207C18.801 244.58 19.4923 239.907 19.6652 239.117C19.918 237.961 19.6867 237.109 20.5689 237.779C22.368 239.146 22.7202 239.609 24.7259 238.104C25.368 237.623 26.2948 236.66 27.1297 236.532C27.5006 236.475 27.822 237.006 28.1599 237.128C29.6424 237.668 31.1784 237.564 32.6965 237.797C34.1029 238.014 34.8769 238.589 36.4378 238.357C40.5628 237.746 44.6954 237.211 48.8004 236.478"
                    stroke="#5BADDE" stroke-width="3" stroke-linecap="round" />
                <path
                    d="M103.782 243.96C103.857 241.349 104.129 238.787 104.107 236.153C104.095 234.683 104.098 231.592 102.481 230.694C100.462 229.573 97.3058 233.269 97.6729 235.104C98.004 236.759 100.682 238.001 102.083 238.43C103.969 239.008 105.911 238.202 107.758 237.707C109.072 237.355 110.376 236.978 111.698 236.659C111.997 236.587 112.909 236.618 113.144 236.406C113.451 236.13 112.585 235.213 112.403 235.213C111.887 235.213 112.969 237.571 113.036 237.743C113.516 238.978 112.764 239.717 112.096 240.689C110.119 243.565 110.289 236.233 110.289 235.339C110.289 234.818 109.934 232.554 110.469 232.249C112.045 231.348 113.56 232.826 114.355 234.092C115.402 235.76 115.663 239.285 117.825 239.858C119.382 240.27 121.247 240.089 122.832 240.056C128.916 239.93 134.179 238.026 139.894 236.153"
                    stroke="#5BADDE" stroke-width="3" stroke-linecap="round" />
                <rect x="0.5" y="0.5" width="179" height="254" rx="7.5" stroke="#5BADDE" />
            </svg>
        </div>
        <div v-else-if="type == 'passport'" class="doc__img">
            <svg width="180" height="255" viewBox="0 0 180 255" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="180" height="255" rx="8" fill="#C23729" />
                <path
                    d="M58.252 189.6H52.932V198H51.392V188.2H59.792V198H58.252V189.6ZM62.37 198L66.402 188.2H68.53L72.562 198H70.826L69.888 195.62H65.044L64.106 198H62.37ZM65.59 194.22H69.342L67.466 189.474L65.59 194.22ZM75.7941 193.1C75.7941 195.382 77.1661 196.74 79.1541 196.74C80.1761 196.74 80.9881 196.446 81.5901 195.858C82.1921 195.27 82.5701 194.542 82.7241 193.66L84.1241 194.22C83.6201 196.488 81.8421 198.14 79.1541 198.14C76.2001 198.182 74.1561 195.942 74.1841 193.1C74.1281 190.286 76.3681 188.004 79.1541 188.06C81.6461 188.06 83.1161 189.586 83.5641 191.35L82.1641 191.98C81.8701 190.51 80.8201 189.46 79.1541 189.46C77.2501 189.46 75.7941 190.902 75.7941 193.1ZM93.8426 189.6H88.5226V198H86.9826V188.2H95.3826V198H93.8426V189.6ZM103.491 188.06C106.291 188.004 108.657 190.356 108.601 193.1C108.657 195.858 106.291 198.196 103.491 198.14C100.691 198.196 98.3246 195.858 98.3806 193.1C98.3246 190.356 100.691 188.004 103.491 188.06ZM103.491 196.67C105.423 196.67 106.991 195.214 106.991 193.1C106.991 190.986 105.465 189.53 103.491 189.53C101.517 189.53 99.9906 191.014 99.9906 193.114C99.9906 195.242 101.559 196.67 103.491 196.67ZM113.143 194.08V198H111.603V188.2H116.153C118.197 188.2 119.303 189.558 119.303 191.14C119.303 192.666 118.183 194.08 116.153 194.08H113.143ZM113.143 192.61H116.013C117.007 192.61 117.693 192.036 117.693 191.14C117.693 190.244 117.007 189.67 116.013 189.67H113.143V192.61ZM130.227 188.2V189.67H126.657V198H125.117V189.67H121.547V188.2H130.227Z"
                    fill="white" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M109.528 90.5874C107.918 89.1821 105.602 89.2143 104.273 89.6225C105.144 88.5585 107.171 87.6861 107.769 87.5803C108.224 87.7501 109.528 89.0848 109.528 90.5874ZM114.67 84.7683C113.611 79.1296 100.446 82.8657 93.8158 80.4706C93.6886 82.1144 95.8567 84.7482 97.9306 85.7231C94.3856 88.7855 91.203 94.9556 90.5609 102.494C89.9207 94.9556 86.7379 88.7855 83.193 85.7231C85.2668 84.7482 87.4366 82.1144 87.3079 80.4706C80.678 82.8657 67.5129 79.1296 66.452 84.7683C66.2289 85.9616 66.8057 87.7804 67.429 88.3032C67.5403 87.9249 68.1224 86.6878 69.9575 86.4105C79.2327 85.0155 86.9765 99.245 79.9865 104.998C79.88 105.086 79.9397 105.247 80.0841 105.247H101.041C101.183 105.247 101.244 105.086 101.139 104.998C94.1469 99.245 101.891 85.0155 111.166 86.4105C113.003 86.6878 113.583 87.9249 113.695 88.303C114.318 87.7804 114.894 85.9619 114.67 84.7683ZM116.925 71.8264C116.759 71.2936 122.197 71.2803 122.197 74.6685C122.197 76.9394 118.944 78.015 118.944 80.3715C118.944 81.4691 120.13 82.2742 120.494 82.2742C119.657 78.4907 123.121 80.4706 124.057 81.1782C122.197 76.0903 126.383 76.1225 125.971 73.7896C125.684 72.1591 122.046 72.6517 120.73 71.8264C118.393 70.3625 115.63 64.6662 113.808 70.3625C117.204 73.5006 115.228 78.1192 110.917 78.1192C110.917 78.1192 110.893 78.7965 110.933 78.8503C116.074 78.5998 117.866 74.8385 116.925 71.8264ZM56.9417 81.1782C57.8775 80.4706 61.3415 78.4907 60.5058 82.2742C60.8678 82.2742 62.054 81.4691 62.054 80.3715C62.054 78.015 58.8009 76.9394 58.8009 74.6685C58.8009 71.2802 64.2394 71.2936 64.0727 71.8264C63.1337 74.8383 64.9262 78.5999 70.0674 78.8503C70.1051 78.7965 70.0811 78.1192 70.0811 78.1192C65.7723 78.1192 63.7963 73.5003 67.1903 70.3625C65.3688 64.6662 62.605 70.3625 60.2688 71.8264C58.9522 72.6519 55.3144 72.1591 55.0277 73.7896C54.6173 76.1225 58.8009 76.0905 56.9417 81.1782ZM71.5403 90.5872C73.1521 89.182 75.468 89.2141 76.7952 89.6223C75.9281 88.5584 73.8975 87.686 73.3016 87.5801C72.8467 87.7499 71.5403 89.0847 71.5403 90.5872ZM93.0071 59.0439L90.4991 56L87.9912 59.0439L90.4992 62.2474L93.0071 59.0439ZM107.324 68.248L105.54 66.0847L103.759 68.248L105.54 70.3623L107.324 68.248ZM121.791 130.776L119.53 128.394L117.269 130.776L119.53 132.865L121.791 130.776ZM77.2413 68.2477L75.4575 66.0844L73.6756 68.2477L75.4575 70.3622L77.2413 68.2477ZM72.1324 78.85H78.7845C84.3773 78.85 86.894 75.433 87.6544 72.4697H93.3453C94.1059 75.4332 96.6205 78.8501 102.215 78.8501H108.868C108.868 78.8501 110.031 77.2786 110.323 76.5005C111.374 73.7003 110.031 72.3943 108.072 72.3943L105.54 74.6785L103.008 72.3943C101.05 72.3943 99.7072 73.7003 100.758 76.5005C100.892 76.8587 101.213 77.3845 101.516 77.8467C99.156 77.5239 96.1433 75.9156 95.4823 72.4697C95.4823 72.4697 97.2264 69.7117 97.6643 68.5957C99.2369 64.5822 97.2283 62.9415 94.2911 62.9415L90.4989 67.379L86.7071 62.9415C83.7698 62.9415 81.7613 64.5821 83.3355 68.5957C83.7718 69.7119 85.5175 72.4699 85.5175 72.4699C84.8548 75.9158 81.8421 77.524 79.4817 77.8468C79.7873 77.3846 80.1066 76.8587 80.2405 76.5007C81.2892 73.7004 79.9504 72.3944 77.9897 72.3944L75.4578 74.6787L72.9259 72.3944C70.9656 72.3944 69.6264 73.7004 70.6755 76.5007C70.9672 77.2788 72.1324 78.85 72.1324 78.85ZM140.907 99.3757C139.623 100.023 132.09 103.536 122.441 102.236C122.541 101.778 122.626 101.317 122.695 100.853C129.117 100.088 134.337 99.0042 137.664 97.1621C141.456 95.0611 143.115 90.0459 141.201 86.3144C141.151 86.2203 141.014 86.2036 140.945 86.2823C139.896 87.4843 133.301 94.6259 122.91 96.8461C122.883 96.3103 122.834 95.776 122.762 95.2444C127.809 92.3953 132.736 89.1126 135.083 86.1109C138.629 81.5727 138.303 75.7842 134.928 72.8327C134.893 72.8028 134.847 72.7893 134.801 72.7958C134.755 72.8022 134.715 72.828 134.689 72.8664C133.622 74.6194 123.628 90.6993 112.655 97.6409C112.521 97.7262 112.386 97.8097 112.25 97.8914C111.935 98.0814 111.901 98.4881 112.169 98.7301C113.434 99.8713 114.22 101.46 114.22 103.223C114.22 106.289 111.846 108.838 108.708 109.391C107.113 109.699 104.811 109.61 102.6 108.882C102.5 108.85 102.397 108.915 102.397 109.015V118.725C102.397 118.881 102.636 118.92 102.693 118.77C104.037 115.225 108.06 114.472 109.82 114.472C110.454 118.261 111.585 121.399 113.054 123.088C115.447 125.832 119.354 125.794 121.049 123.896C121.077 123.865 121.089 123.822 121.081 123.781C121.074 123.74 121.048 123.704 121.011 123.684C120.015 123.115 114.319 119.634 113.179 113.929C113.63 113.775 114.069 113.6 114.489 113.393C116.328 116.422 119.004 119.119 121.159 120.15C124.777 121.878 128.09 121.037 129.56 118.508C129.613 118.419 129.548 118.308 129.44 118.298C127.201 118.119 120.331 116.16 117.406 111.385C117.741 111.078 118.069 110.759 118.374 110.42C121.435 112.739 125.763 114.79 128.861 115.208C132.487 115.699 136.595 114.548 136.695 110.351C136.696 110.267 136.621 110.198 136.532 110.203C135.242 110.28 126.709 110.65 120.628 107.176C120.839 106.776 121.036 106.369 121.219 105.955C121.219 105.955 130.406 108.117 134.76 107.401C139.086 106.69 141.62 103.48 141.13 99.4864C141.117 99.3868 141 99.3287 140.907 99.3757ZM59.7793 105.956C59.9621 106.369 60.1596 106.776 60.3714 107.176C54.2928 110.649 45.7627 110.282 44.4684 110.203C44.3774 110.198 44.3019 110.27 44.3035 110.353C44.4051 114.548 48.5113 115.699 52.1366 115.209C55.2338 114.79 59.5632 112.74 62.6239 110.42C62.9312 110.76 63.2575 111.079 63.5919 111.385C60.6652 116.16 53.7969 118.12 51.5582 118.298C51.4501 118.308 51.3866 118.419 51.4382 118.508C52.9077 121.037 56.2209 121.878 59.8414 120.15C61.9942 119.12 64.6703 116.422 66.509 113.393C66.9311 113.6 67.3706 113.775 67.8186 113.929C66.6787 119.634 60.9829 123.115 59.9871 123.684C59.9503 123.705 59.9247 123.74 59.9173 123.781C59.91 123.823 59.9218 123.865 59.9493 123.896C61.6437 125.794 65.5527 125.833 67.9454 123.088C69.4152 121.399 70.5446 118.261 71.1781 114.472C72.9393 114.472 76.9614 115.226 78.3055 118.77C78.3639 118.92 78.6024 118.881 78.6024 118.725V109.015C78.6024 108.916 78.4978 108.85 78.3983 108.882C76.1872 109.61 73.8852 109.699 72.2921 109.391C69.1524 108.838 66.7783 106.289 66.7783 103.223C66.7783 101.46 67.5661 99.8696 68.8296 98.7283C69.099 98.4879 69.063 98.0811 68.7505 97.8913C68.6133 97.8094 68.4771 97.7259 68.342 97.6407C57.3759 90.7027 47.3866 74.6345 46.3103 72.8695C46.2603 72.7871 46.1402 72.7704 46.0663 72.8341C42.6965 75.7873 42.3687 81.5741 45.9153 86.1106C48.262 89.1123 53.1886 92.395 58.2341 95.2441C58.1629 95.7756 58.1142 96.3099 58.0882 96.8456C47.7059 94.627 41.1155 87.4969 40.0563 86.287C39.986 86.2046 39.845 86.2214 39.7971 86.3156C37.8868 90.0486 39.5449 95.0607 43.3337 97.1616C46.6605 99.0038 51.8809 100.088 58.303 100.853C58.3724 101.316 58.457 101.778 58.5569 102.236C48.9179 103.534 41.3885 100.029 40.0943 99.3768C39.9981 99.3282 39.8813 99.3887 39.8693 99.4896C39.3821 103.483 41.9139 106.69 46.2399 107.401C50.5916 108.117 59.7793 105.956 59.7793 105.956ZM119.529 135.933L116.182 133.311C114.846 134.102 113.864 135.36 113.483 136.834C111.47 137.114 105.98 135.901 106.513 135.096C112.53 126.672 107.928 121.656 102.397 121.935V127.593C102.397 129.41 100.804 130.882 98.8417 130.882H95.0224C92.2825 130.882 90.4989 133.624 90.4989 133.624C90.4989 133.624 88.7156 130.882 85.9757 130.882H82.1561C80.1925 130.882 78.6028 129.41 78.6028 127.593V121.935C73.0717 121.657 68.4657 126.672 74.4846 135.096C75.0133 135.893 69.3705 137.169 66.7236 136.846C66.0266 136.126 65.0204 135.673 63.8943 135.673C63.4155 135.673 62.9406 135.758 62.4917 135.923C62.4917 135.923 52.0907 126.121 51.9001 126.025L51.986 125.827C52.5781 124.724 51.6718 123.522 51.0986 123.606C51.7644 122.811 51.7956 119.33 48.1012 118.525C48.2093 119.225 48.2641 120.652 48.2641 120.652C48.2641 120.652 45.4129 119.117 43.9811 120.441C42.723 121.924 44.4689 124.613 44.4689 124.613C44.4689 124.613 43.0097 124.648 42.2904 124.588C43.348 128.148 46.8947 127.896 47.662 127.193C47.612 127.76 48.8946 128.566 49.9811 127.919L50.4584 127.689C50.5426 127.801 60.6726 137.328 60.6726 137.328C60.2073 138.016 59.9859 138.859 60.1386 139.759C60.379 141.164 61.5551 142.329 63.0572 142.631C64.1179 142.843 65.1153 142.638 65.9152 142.172L68.5967 144.65C68.8355 144.865 69.1582 144.999 69.5185 144.974C70.1743 144.93 70.6653 144.401 70.6156 143.794C70.595 143.52 70.4543 143.285 70.2602 143.107C70.2173 143.06 67.529 140.575 67.529 140.575C69.7466 139.027 73.8788 137.937 77.3086 137.937C77.9112 137.937 78.1943 137.429 77.9867 136.931C76.433 133.212 79.7737 130.518 83.2293 132.711C84.7367 133.667 86.268 135.552 87.4216 138.695C81.7514 140.061 74.6325 143.826 73.1922 147.936C72.6377 149.522 74.4694 151.685 76.6942 152.121C76.7336 152.13 76.7748 152.122 76.8087 152.1C76.8425 152.079 76.8662 152.044 76.8744 152.005C78.0367 145.87 84.6646 141.298 88.1135 140.521C88.2869 140.984 88.2301 140.834 88.4036 141.295C84.6475 143.063 81.0047 146.792 79.9644 151.226C79.4872 153.257 81.7618 155.087 83.6398 155.588C83.7342 155.613 83.8269 155.548 83.8321 155.457C84.1891 149.85 86.6766 145.088 88.9047 142.922C88.9657 143.345 89.0116 143.771 89.0422 144.197C89.0422 144.197 86.7608 150.526 86.7608 155.143C86.7608 157.291 89.9674 158.79 90.4413 159C91.0334 158.79 94.2385 157.291 94.2385 155.143C94.2385 150.525 91.9571 144.197 91.9571 144.197C91.9882 143.771 92.0346 143.345 92.0962 142.922C94.3227 145.088 96.8117 149.848 97.1672 155.455C97.1723 155.546 97.2667 155.613 97.3592 155.588C99.2391 155.087 101.512 153.257 101.036 151.227C99.9942 146.793 96.3534 143.063 92.5972 141.295C92.7688 140.834 92.7122 140.984 92.8856 140.522C96.3363 141.298 102.963 145.87 104.125 152.005C104.133 152.044 104.157 152.078 104.191 152.1C104.225 152.122 104.266 152.129 104.305 152.121C106.528 151.686 108.363 149.522 107.805 147.936C106.368 143.826 99.2477 140.061 93.5776 138.695C94.7328 135.552 96.264 133.668 97.7712 132.711C101.225 130.518 104.566 133.212 103.012 136.932C102.804 137.429 103.086 137.937 103.69 137.937C107.57 137.937 112.349 139.332 114.241 141.203C115.449 143.008 117.683 144.162 120.203 143.915C123.066 143.636 125.401 141.495 125.724 138.848C126.005 136.528 124.8 134.446 122.879 133.311L119.529 135.933ZM94.8558 119.036C96.0489 118.596 97.9184 118.952 97.8548 120.666C97.8395 121.054 98.3872 121.054 98.4266 120.658C98.7837 118.091 97.0412 117.351 95.2182 117.652C94.9916 116.77 94.8063 115.998 94.5951 115.234C94.4269 114.615 94.365 113.454 95.0844 113.454C95.4724 113.454 95.3163 114.535 95.2803 115C95.2475 115.408 95.3951 115.656 95.7283 115.667C95.9361 115.676 96.1954 115.412 96.3498 115.237C97.3937 114.062 97.6357 112.244 96.4134 111.366C95.3905 110.63 92.829 111.178 92.1249 112.227C92.0187 111.832 91.5105 111.18 91.2666 110.895C91.0299 110.618 90.9681 110.428 91.2959 110.185C91.4505 110.067 91.9174 109.605 91.9174 109.127C91.9174 108.845 91.6977 108.324 90.9991 108.324C90.4479 108.324 89.8351 108.704 89.8351 109.551C89.8351 109.739 89.8815 109.941 90.0033 110.158C89.6548 110.101 88.709 110.124 88.2232 110.244L94.9405 128.593C96.8632 127.648 98.2725 126.152 98.2725 124.547C98.2725 123.179 96.2483 123.633 95.2648 124.7C94.9489 122.966 94.6673 121.364 94.3601 119.767C94.2762 119.326 94.5005 119.168 94.8558 119.036ZM85.3576 106.571L86.7687 110.474C85.5602 110.76 83.617 111.637 83.617 112.798C83.617 114.345 86.3653 115.352 87.955 115.23C87.876 115.583 87.9671 115.898 88.2143 116.185C87.6375 116.185 86.5493 116.452 86.192 116.836C85.3492 116.054 84.0307 115.77 83.4041 116.246C82.7742 116.725 82.7555 117.537 83.4128 118.454C83.871 119.09 84.0428 119.717 83.5278 120.453C85.4436 120.453 84.7379 117.974 85.4881 117.974C85.3903 118.454 85.4504 119.011 85.6685 119.627C85.8127 120.037 85.8127 120.328 85.5656 120.723C84.9476 121.707 83.9863 123.965 84.1167 126.008C83.4884 126.004 83.1691 125.851 83.3907 124.998C83.4729 124.68 83.2756 124.453 83.0147 124.844C82.7263 125.276 82.5872 126.014 82.5872 126.33C82.5872 128.149 84.7637 128.515 85.5946 128.13C87.9981 130.445 92.719 129.828 94.3 129.051L85.9879 106.349C85.8179 105.921 85.2083 106.126 85.3576 106.571ZM85.0691 125.271C84.8974 124.337 86.2038 122.666 87.8656 121.054C87.512 122.105 87.7317 123.915 88.4252 124.539C87.22 124.539 85.7882 124.764 85.0691 125.271Z"
                    fill="white" />
            </svg>
        </div>
        <div v-else-if="type == 'marriage'" class="doc__img">
            <svg width="180" height="255" viewBox="0 0 180 255" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="180" height="255" rx="8" fill="#F1D1E8" />
                <g style="mix-blend-mode:overlay">
                    <rect x="74" y="206" width="32" height="32" rx="16" fill="#052233" />
                </g>
                <path
                    d="M19.4591 25.1C19.4591 27.382 20.8311 28.74 22.8191 28.74C23.8411 28.74 24.6531 28.446 25.2551 27.858C25.8571 27.27 26.2351 26.542 26.3891 25.66L27.7891 26.22C27.2851 28.488 25.5071 30.14 22.8191 30.14C19.8651 30.182 17.8211 27.942 17.8491 25.1C17.7931 22.286 20.0331 20.004 22.8191 20.06C25.3111 20.06 26.7811 21.586 27.2291 23.35L25.8291 23.98C25.5351 22.51 24.4851 21.46 22.8191 21.46C20.9151 21.46 19.4591 22.902 19.4591 25.1ZM30.6476 30V20.2H35.2676C37.0736 20.2 38.4176 21.334 38.4176 22.79C38.4176 23.756 37.8716 24.526 36.8776 24.96C38.0396 25.24 38.7676 26.108 38.7676 27.34C38.7676 28.866 37.3536 30 35.5476 30H30.6476ZM32.1876 24.26H35.1976C36.3036 24.26 36.8776 23.784 36.8776 22.93C36.8776 22.132 36.1636 21.67 35.1976 21.67H32.1876V24.26ZM32.1876 28.53H35.4776C36.4716 28.53 37.1576 27.97 37.1576 27.13C37.1576 26.332 36.4856 25.66 35.4776 25.66H32.1876V28.53ZM49.061 21.32L44.497 30H41.823V20.2H43.363V28.894L47.927 20.2H50.601V30H49.061V21.32ZM53.3518 31.54V28.6H54.3318C54.7378 28.054 55.0318 27.536 55.2138 27.046C55.4098 26.542 55.5358 26.024 55.5778 25.492C55.6338 24.96 55.6618 24.246 55.6618 23.35V20.2H61.6118V28.6H62.8018V31.54H61.4018V30H54.7518V31.54H53.3518ZM56.0818 28.6H60.0718V21.6H57.1318V23.35C57.1318 24.596 57.0618 25.604 56.9218 26.388C56.7958 27.172 56.5158 27.914 56.0818 28.6ZM65.541 20.2H72.681V21.67H67.081V24.19H72.261V25.66H67.081V28.53H72.821V30H65.541V20.2ZM83.9874 20.2V21.67H80.4174V30H78.8774V21.67H75.3074V20.2H83.9874ZM86.7844 20.2H93.9244V21.67H88.3244V24.19H93.5044V25.66H88.3244V28.53H94.0644V30H86.7844V20.2ZM96.5228 30V29.776C97.0688 28.81 97.3628 27.396 97.3628 25.1V20.2H105.063V30H103.523V21.6H98.9028V24.96C98.9028 27.298 98.6508 28.978 98.1328 30H96.5228ZM108.479 30V20.2H110.019V24.232H113.393C115.241 24.232 116.613 25.31 116.613 27.116C116.613 28.922 115.241 30 113.393 30H108.479ZM110.019 28.53H113.323C114.317 28.53 115.003 27.942 115.003 27.116C115.003 26.29 114.317 25.702 113.323 25.702H110.019V28.53ZM120.858 25.1C120.858 27.382 122.23 28.74 124.218 28.74C125.24 28.74 126.052 28.446 126.654 27.858C127.256 27.27 127.634 26.542 127.788 25.66L129.188 26.22C128.684 28.488 126.906 30.14 124.218 30.14C121.264 30.182 119.22 27.942 119.248 25.1C119.192 22.286 121.432 20.004 124.218 20.06C126.71 20.06 128.18 21.586 128.628 23.35L127.228 23.98C126.934 22.51 125.884 21.46 124.218 21.46C122.314 21.46 120.858 22.902 120.858 25.1ZM139.495 20.2V21.67H135.925V30H134.385V21.67H130.815V20.2H139.495ZM142.292 30V20.2H146.912C148.718 20.2 150.062 21.334 150.062 22.79C150.062 23.756 149.516 24.526 148.522 24.96C149.684 25.24 150.412 26.108 150.412 27.34C150.412 28.866 148.998 30 147.192 30H142.292ZM143.832 24.26H146.842C147.948 24.26 148.522 23.784 148.522 22.93C148.522 22.132 147.808 21.67 146.842 21.67H143.832V24.26ZM143.832 28.53H147.122C148.116 28.53 148.802 27.97 148.802 27.13C148.802 26.332 148.13 25.66 147.122 25.66H143.832V28.53ZM158.035 20.06C160.835 20.004 163.201 22.356 163.145 25.1C163.201 27.858 160.835 30.196 158.035 30.14C155.235 30.196 152.869 27.858 152.925 25.1C152.869 22.356 155.235 20.004 158.035 20.06ZM158.035 28.67C159.967 28.67 161.535 27.214 161.535 25.1C161.535 22.986 160.009 21.53 158.035 21.53C156.061 21.53 154.535 23.014 154.535 25.114C154.535 27.242 156.103 28.67 158.035 28.67ZM61.4072 40.06C64.2072 40.004 66.5732 42.356 66.5172 45.1C66.5732 47.858 64.2072 50.196 61.4072 50.14C58.6072 50.196 56.2412 47.858 56.2972 45.1C56.2412 42.356 58.6072 40.004 61.4072 40.06ZM61.4072 48.67C63.3392 48.67 64.9072 47.214 64.9072 45.1C64.9072 42.986 63.3812 41.53 61.4072 41.53C59.4332 41.53 57.9072 43.014 57.9072 45.114C57.9072 47.242 59.4752 48.67 61.4072 48.67ZM74.2828 50V40.2H81.2128V41.67H75.8228V44.232H79.2528C81.1008 44.232 82.4728 45.31 82.4728 47.116C82.4728 48.922 81.1008 50 79.2528 50H74.2828ZM75.8228 48.53H79.1828C80.1768 48.53 80.8628 47.942 80.8628 47.116C80.8628 46.29 80.1768 45.702 79.1828 45.702H75.8228V48.53ZM87.0666 46.08V50H85.5266V40.2H90.0766C92.1206 40.2 93.2266 41.558 93.2266 43.14C93.2266 44.666 92.1066 46.08 90.0766 46.08H87.0666ZM87.0666 44.61H89.9366C90.9306 44.61 91.6166 44.036 91.6166 43.14C91.6166 42.244 90.9306 41.67 89.9366 41.67H87.0666V44.61ZM94.0983 50L98.1303 40.2H100.258L104.29 50H102.554L101.616 47.62H96.7723L95.8343 50H94.0983ZM97.3183 46.22H101.07L99.1943 41.474L97.3183 46.22ZM106.866 50V40.2H108.406V44.344L112.536 40.2H114.566L109.876 44.89L114.846 50H112.676L108.406 45.562V50H106.866ZM117.316 40.2H124.456V41.67H118.856V44.19H124.036V45.66H118.856V48.53H124.596V50H117.316V40.2Z"
                    fill="#052233" />
                <g style="mix-blend-mode:overlay">
                    <rect x="40" y="71" width="100" height="8" rx="2" fill="#052233" />
                    <rect x="55" y="87" width="70" height="8" rx="2" fill="#052233" />
                    <rect x="28" y="103" width="124" height="8" rx="2" fill="#052233" />
                    <rect x="49.5" y="119" width="43" height="8" rx="2" fill="#052233" />
                    <rect x="96.5" y="119" width="34" height="8" rx="2" fill="#052233" />
                    <rect x="60" y="135" width="60" height="8" rx="2" fill="#052233" />
                </g>
            </svg>
        </div>
        <div v-else-if="type == 'receipt'" class="doc__img">
            <svg width="180" height="255" viewBox="0 0 180 255" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="179" height="254" rx="7.5" fill="white" />
                <rect x="16" y="230" width="84" height="8" rx="2" fill="#052233" />
                <path
                    d="M23.14 30V26.71C22.51 27.368 21.502 27.788 20.326 27.788C18.128 27.788 16.896 26.262 16.896 24.26V20.2H18.436V24.008C18.436 25.478 19.29 26.318 20.676 26.318C21.614 26.318 22.342 25.926 23.14 25.016V20.2H24.68V30H23.14ZM28.1014 20.2H35.2414V21.67H29.6414V24.19H34.8214V25.66H29.6414V28.53H35.3814V30H28.1014V20.2ZM38.4838 30V20.2H40.0238V24.344L44.1538 20.2H46.1838L41.4938 24.89L46.4638 30H44.2938L40.0238 25.562V30H38.4838Z"
                    fill="#052233" />
                <rect x="16" y="44" width="100" height="8" rx="2" fill="#052233" />
                <rect x="16" y="60" width="68" height="8" rx="2" fill="#052233" />
                <rect x="16" y="92" width="68" height="8" rx="2" fill="#052233" />
                <rect x="142" y="44" width="24" height="8" rx="2" fill="#052233" />
                <rect x="142" y="60" width="24" height="8" rx="2" fill="#052233" />
                <rect x="142" y="92" width="24" height="8" rx="2" fill="#052233" />
                <rect x="142" y="230" width="24" height="8" rx="2" fill="#052233" />
                <rect x="142" y="76" width="24" height="8" rx="2" fill="#052233" />
                <rect x="16" y="76" width="44" height="8" rx="2" fill="#052233" />
                <rect x="0.5" y="0.5" width="179" height="254" rx="7.5" stroke="#052233" />
            </svg>

        </div>
        <div v-else-if="type == 'inquiry'" class="doc__img">
            <svg width="180" height="255" viewBox="0 0 180 255" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="179" height="254" rx="7.5" fill="#FAFDFF" />
                <rect x="132" y="206" width="32" height="32" rx="16" fill="#5BADDE" />
                <path
                    d="M18.198 25.1C18.198 27.382 19.57 28.74 21.558 28.74C22.58 28.74 23.392 28.446 23.994 27.858C24.596 27.27 24.974 26.542 25.128 25.66L26.528 26.22C26.024 28.488 24.246 30.14 21.558 30.14C18.604 30.182 16.56 27.942 16.588 25.1C16.532 22.286 18.772 20.004 21.558 20.06C24.05 20.06 25.52 21.586 25.968 23.35L24.568 23.98C24.274 22.51 23.224 21.46 21.558 21.46C19.654 21.46 18.198 22.902 18.198 25.1ZM36.2465 21.6H30.9265V30H29.3865V20.2H37.7865V30H36.2465V21.6ZM42.7445 26.08V30H41.2045V20.2H45.7545C47.7985 20.2 48.9045 21.558 48.9045 23.14C48.9045 24.666 47.7845 26.08 45.7545 26.08H42.7445ZM42.7445 24.61H45.6145C46.6085 24.61 47.2945 24.036 47.2945 23.14C47.2945 22.244 46.6085 21.67 45.6145 21.67H42.7445V24.61ZM49.7762 30L53.8082 20.2H55.9362L59.9682 30H58.2322L57.2942 27.62H52.4502L51.5122 30H49.7762ZM52.9962 26.22H56.7482L54.8722 21.474L52.9962 26.22ZM62.5435 30V20.2H67.1635C68.9695 20.2 70.3135 21.334 70.3135 22.79C70.3135 23.756 69.7675 24.526 68.7735 24.96C69.9355 25.24 70.6635 26.108 70.6635 27.34C70.6635 28.866 69.2495 30 67.4435 30H62.5435ZM64.0835 24.26H67.0935C68.1995 24.26 68.7735 23.784 68.7735 22.93C68.7735 22.132 68.0595 21.67 67.0935 21.67H64.0835V24.26ZM64.0835 28.53H67.3735C68.3675 28.53 69.0535 27.97 69.0535 27.13C69.0535 26.332 68.3815 25.66 67.3735 25.66H64.0835V28.53ZM73.7189 30V20.2H75.2589V24.344L79.3889 20.2H81.4189L76.7289 24.89L81.6989 30H79.5289L75.2589 25.562V30H73.7189ZM83.4664 30L87.4984 20.2H89.6264L93.6584 30H91.9224L90.9844 27.62H86.1404L85.2024 30H83.4664ZM86.6864 26.22H90.4384L88.5624 21.474L86.6864 26.22Z"
                    fill="#5BADDE" />
                <rect x="16" y="44" width="100" height="8" rx="2" fill="#5BADDE" />
                <rect x="16" y="60" width="70" height="8" rx="2" fill="#5BADDE" />
                <rect x="90" y="60" width="46" height="8" rx="2" fill="#5BADDE" />
                <rect x="16" y="76" width="46" height="8" rx="2" fill="#5BADDE" />
                <rect x="66" y="76" width="60" height="8" rx="2" fill="#5BADDE" />
                <rect x="0.5" y="0.5" width="179" height="254" rx="7.5" stroke="#5BADDE" />
            </svg>
        </div>
        <div v-else-if="type == 'birth'" class="doc__img">
            <svg width="180" height="255" viewBox="0 0 180 255" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="180" height="255" rx="8" fill="#E3F1D1" />
                <g style="mix-blend-mode:overlay">
                    <rect x="74" y="206" width="32" height="32" rx="16" fill="#052233" />
                </g>
                <path
                    d="M19.4591 25.1C19.4591 27.382 20.8311 28.74 22.8191 28.74C23.8411 28.74 24.6531 28.446 25.2551 27.858C25.8571 27.27 26.2351 26.542 26.3891 25.66L27.7891 26.22C27.2851 28.488 25.5071 30.14 22.8191 30.14C19.8651 30.182 17.8211 27.942 17.8491 25.1C17.7931 22.286 20.0331 20.004 22.8191 20.06C25.3111 20.06 26.7811 21.586 27.2291 23.35L25.8291 23.98C25.5351 22.51 24.4851 21.46 22.8191 21.46C20.9151 21.46 19.4591 22.902 19.4591 25.1ZM30.6476 30V20.2H35.2676C37.0736 20.2 38.4176 21.334 38.4176 22.79C38.4176 23.756 37.8716 24.526 36.8776 24.96C38.0396 25.24 38.7676 26.108 38.7676 27.34C38.7676 28.866 37.3536 30 35.5476 30H30.6476ZM32.1876 24.26H35.1976C36.3036 24.26 36.8776 23.784 36.8776 22.93C36.8776 22.132 36.1636 21.67 35.1976 21.67H32.1876V24.26ZM32.1876 28.53H35.4776C36.4716 28.53 37.1576 27.97 37.1576 27.13C37.1576 26.332 36.4856 25.66 35.4776 25.66H32.1876V28.53ZM49.061 21.32L44.497 30H41.823V20.2H43.363V28.894L47.927 20.2H50.601V30H49.061V21.32ZM53.3518 31.54V28.6H54.3318C54.7378 28.054 55.0318 27.536 55.2138 27.046C55.4098 26.542 55.5358 26.024 55.5778 25.492C55.6338 24.96 55.6618 24.246 55.6618 23.35V20.2H61.6118V28.6H62.8018V31.54H61.4018V30H54.7518V31.54H53.3518ZM56.0818 28.6H60.0718V21.6H57.1318V23.35C57.1318 24.596 57.0618 25.604 56.9218 26.388C56.7958 27.172 56.5158 27.914 56.0818 28.6ZM65.541 20.2H72.681V21.67H67.081V24.19H72.261V25.66H67.081V28.53H72.821V30H65.541V20.2ZM83.9874 20.2V21.67H80.4174V30H78.8774V21.67H75.3074V20.2H83.9874ZM86.7844 20.2H93.9244V21.67H88.3244V24.19H93.5044V25.66H88.3244V28.53H94.0644V30H86.7844V20.2ZM96.5228 30V29.776C97.0688 28.81 97.3628 27.396 97.3628 25.1V20.2H105.063V30H103.523V21.6H98.9028V24.96C98.9028 27.298 98.6508 28.978 98.1328 30H96.5228ZM108.479 30V20.2H110.019V24.232H113.393C115.241 24.232 116.613 25.31 116.613 27.116C116.613 28.922 115.241 30 113.393 30H108.479ZM110.019 28.53H113.323C114.317 28.53 115.003 27.942 115.003 27.116C115.003 26.29 114.317 25.702 113.323 25.702H110.019V28.53ZM120.858 25.1C120.858 27.382 122.23 28.74 124.218 28.74C125.24 28.74 126.052 28.446 126.654 27.858C127.256 27.27 127.634 26.542 127.788 25.66L129.188 26.22C128.684 28.488 126.906 30.14 124.218 30.14C121.264 30.182 119.22 27.942 119.248 25.1C119.192 22.286 121.432 20.004 124.218 20.06C126.71 20.06 128.18 21.586 128.628 23.35L127.228 23.98C126.934 22.51 125.884 21.46 124.218 21.46C122.314 21.46 120.858 22.902 120.858 25.1ZM139.495 20.2V21.67H135.925V30H134.385V21.67H130.815V20.2H139.495ZM142.292 30V20.2H146.912C148.718 20.2 150.062 21.334 150.062 22.79C150.062 23.756 149.516 24.526 148.522 24.96C149.684 25.24 150.412 26.108 150.412 27.34C150.412 28.866 148.998 30 147.192 30H142.292ZM143.832 24.26H146.842C147.948 24.26 148.522 23.784 148.522 22.93C148.522 22.132 147.808 21.67 146.842 21.67H143.832V24.26ZM143.832 28.53H147.122C148.116 28.53 148.802 27.97 148.802 27.13C148.802 26.332 148.13 25.66 147.122 25.66H143.832V28.53ZM158.035 20.06C160.835 20.004 163.201 22.356 163.145 25.1C163.201 27.858 160.835 30.196 158.035 30.14C155.235 30.196 152.869 27.858 152.925 25.1C152.869 22.356 155.235 20.004 158.035 20.06ZM158.035 28.67C159.967 28.67 161.535 27.214 161.535 25.1C161.535 22.986 160.009 21.53 158.035 21.53C156.061 21.53 154.535 23.014 154.535 25.114C154.535 27.242 156.103 28.67 158.035 28.67ZM39.6675 40.06C42.4675 40.004 44.8335 42.356 44.7775 45.1C44.8335 47.858 42.4675 50.196 39.6675 50.14C36.8675 50.196 34.5015 47.858 34.5575 45.1C34.5015 42.356 36.8675 40.004 39.6675 40.06ZM39.6675 48.67C41.5995 48.67 43.1675 47.214 43.1675 45.1C43.1675 42.986 41.6415 41.53 39.6675 41.53C37.6935 41.53 36.1675 43.014 36.1675 45.114C36.1675 47.242 37.7355 48.67 39.6675 48.67ZM54.0832 46.08V50H52.5432V40.2H57.0932C59.1372 40.2 60.2432 41.558 60.2432 43.14C60.2432 44.666 59.1232 46.08 57.0932 46.08H54.0832ZM54.0832 44.61H56.9532C57.9472 44.61 58.6332 44.036 58.6332 43.14C58.6332 42.244 57.9472 41.67 56.9532 41.67H54.0832V44.61ZM67.9574 40.06C70.7574 40.004 73.1234 42.356 73.0674 45.1C73.1234 47.858 70.7574 50.196 67.9574 50.14C65.1574 50.196 62.7914 47.858 62.8474 45.1C62.7914 42.356 65.1574 40.004 67.9574 40.06ZM67.9574 48.67C69.8894 48.67 71.4574 47.214 71.4574 45.1C71.4574 42.986 69.9314 41.53 67.9574 41.53C65.9834 41.53 64.4574 43.014 64.4574 45.114C64.4574 47.242 66.0254 48.67 67.9574 48.67ZM83.7507 44.89L88.7207 50H86.5507L82.2807 45.562V50H80.7407V45.562L76.4707 50H74.3007L79.2707 44.89L74.5807 40.2H76.6107L80.7407 44.344V40.2H82.2807V44.344L86.4107 40.2H88.4407L83.7507 44.89ZM90.6473 51.54V48.6H91.6273C92.0333 48.054 92.3273 47.536 92.5093 47.046C92.7053 46.542 92.8313 46.024 92.8733 45.492C92.9293 44.96 92.9573 44.246 92.9573 43.35V40.2H98.9073V48.6H100.097V51.54H98.6973V50H92.0473V51.54H90.6473ZM93.3773 48.6H97.3673V41.6H94.4273V43.35C94.4273 44.596 94.3573 45.604 94.2173 46.388C94.0913 47.172 93.8113 47.914 93.3773 48.6ZM102.837 40.2H109.977V41.67H104.377V44.19H109.557V45.66H104.377V48.53H110.117V50H102.837V40.2ZM120.079 45.87H114.759V50H113.219V40.2H114.759V44.47H120.079V40.2H121.619V50H120.079V45.87ZM132.275 41.32L127.711 50H125.037V40.2H126.577V48.894L131.141 40.2H133.815V50H132.275V41.32ZM144.476 41.32L139.912 50H137.238V40.2H138.778V48.894L143.342 40.2H146.016V50H144.476V41.32Z"
                    fill="#052233" />
                <g style="mix-blend-mode:overlay">
                    <rect x="40" y="71" width="100" height="8" rx="2" fill="#052233" />
                    <rect x="55" y="87" width="70" height="8" rx="2" fill="#052233" />
                    <rect x="28" y="103" width="124" height="8" rx="2" fill="#052233" />
                    <rect x="49.5" y="119" width="43" height="8" rx="2" fill="#052233" />
                    <rect x="96.5" y="119" width="34" height="8" rx="2" fill="#052233" />
                    <rect x="60" y="135" width="60" height="8" rx="2" fill="#052233" />
                </g>
            </svg>
        </div>

        <div class="doc__text">{{ text }}</div>
    </div>
</template>

<script>
export default {
    props: {
        type: {
            type: String,
            default: ''
        },
        text: {
            type: String,
            default: ''
        }
    }
}
</script>

<style>
.doc__wrap {
    display: flex;
    gap: 1.11vw;
    flex-direction: column;
}

.doc__img {
    width: 12.5vw;
    height: 17.71vw;
}

.doc__text {
    width: 12.50vw;
    font-size: 1.11vw;
    line-height: 1.67vw;
}

@media (max-width: 768px) {
    .doc__wrap {
        width: 50%;
        gap: 4.27vw;
    }

    .doc__img {
        width: 100%;
        height: 68vw;
    }

    .doc__text {
        width: 100%;
        font-size: 4.27vw;
        line-height: 6.40vw;
    }
}
</style>